/*customer stylesheet*/
html{
	margin: 0;
	padding: 0;
	height: 100%;
}
body{
	color: #fff;
	height: 100%;
	background: #444;
}
header{
	height: 2.5em;
	background: -webkit-linear-gradient(top,#111,#000);
	background: -webkit-gradient(linear,center top,center bottom,from(#111),to(#000));
	text-shadow: -1px -1px 0 #000;
}
header .btn_back{
	position: absolute;
	height: 2.5em;
	left: .5em;
}
header .btn_back.active{
	background: -webkit-linear-gradient(top,#222,#111);
	background: -webkit-gradient(linear,center top,center bottom,from(#222),to(#111));
}
header .btn_back img{
	height: 2.5em;
}
header h3{
	height: 100%;
	line-height: 2em;
	font-size: 1.2em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
}
footer{
	height: 2.5em;
	display: -webkit-box;
	background: -webkit-linear-gradient(top,#111,#000);
	background: -webkit-gradient(linear,center top,center bottom,from(#000),to(#111));
}
footer i{
	-webkit-box-flex: 1;
	text-align: center;
	line-height: 2.5em;
}
footer i.active{
	background: -webkit-linear-gradient(top,#111,#222);
	background: -webkit-gradient(linear,center top,center bottom,from(#111),to(#222));
}
#pageWraper{
	height: 100%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
#content{
	-webkit-box-flex: 1;
}
.welcome{
	text-align: center;
	color: #eee;
	padding: 1em;
	font-size: 1.5em;
	text-shadow:-1px -1px 1px #333;
}