/*base*/
p,ul{
	margin:0;
	padding:0;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.color777 {
	color:#777;
}
img {
	vertical-align:top;
}
ul, li {
	padding:0;
	margin:0;
	border:0;
}
.tr {
	text-align:right;
}
.db {
	display:block;
}
.bg{
	background:-webkit-linear-gradient(top, #371746, #5c2368,#371746);
 	background:-webkit-gradient(linear, left top, left bottom, from(#371746), color-stop(0.5, #5c2368),to(#371746))
}
/*header*/
.btn.active{background-color:#666;}

/*footer*/
#footer{
	z-index:2;
}
#footer input[type="radio"] + div.active,#footer input[checked="checked"] + div
{
	background:-webkit-linear-gradient(top, #dc1ab3, #a50883) !important;
 	background:-webkit-gradient(linear, left top, left bottom, from(#dc1ab3), to(#a50883)) !important;
	border-radius:0 0 0.3em 0.3em;
	border: 1px solid #f248cd;
	background-image: none;
}
#footer input[type="radio"] + div.disable.active
{
	background:-webkit-linear-gradient(top, #7a7a7a, #575757) !important;
 	background:-webkit-gradient(linear, left top, left bottom, from(#7a7a7a), to(#575757)) !important;
	border-radius:0 0 0.3em 0.3em;
	border: 1px solid #555;
	background-image: none;
}
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
*:focus, *:active {
	outline: none;
}
body {
	margin:0;
	padding:0;
	-webkit-user-select:none;
	-webkit-text-size-adjust:none;
	font-family:helvetica;
}
/*tips*/
.tipsShow {
	position:absolute;
	bottom:0;
	line-height:1.4em;
	font-size:0.85em;
	padding:.4em .5em;
	color:#fff;
	background-color:rgba(0, 0, 0, 0.5);
	width:100%;
	text-indent:.5em;
	z-index:1;
	-webkit-transition:bottom 500ms linear;
}
/*清除浮动*/
.clearfix:before, .clearfix:after {
	content:"";
	display:table;
}
.clearfix:after {
	clear:both;
}
.clearfix {
	zoom:1; /* IE < 8 */
}
/*下拉刷新页面*/
#wrapper {
	position:absolute;
	z-index:1;
	left:-9999px;
	width:100%;
	height:100%;
	overflow:auto;
}
#wrapper>div{
	width:100%;
}
#wrapper.fixWrapperLeft {
	left:0;
}
#myFrame {
	position:absolute;
	top:0;
	left:0;
}
/*Pull down styles*/
.pullDown {
	height:2.5em;
	line-height:2.5em;
	font-weight:bold;
	font-size:0.9em;
	color:#888;
	text-align:center;
}
.pullDown .pullDownIcon {
	vertical-align:middle;
	display:inline-block;
	width:2em;
	height:2em;
	background:url(images/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size:2em 4em;
}
.pullDown .pullDownLabel{
	display:inline-block;
	height:2.5em;
}
.pullDown.loading .pullDownIcon {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;
	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}
@-webkit-keyframes loading {
 from {
-webkit-transform:rotate(0deg) translateZ(0);
}
to {
	-webkit-transform:rotate(360deg) translateZ(0);
}
}
/*滚动常驻*/
.dockEl {
	background-color:#333;
	color:#fff;
}
.fackDock {
	position: absolute;
	top:0;
	width:100%;
	left:.5em;
	right:.5em;
	background-color:#491B5A;
}
/*附近动态*/

/*信息中心*/
.infoCenterList li.active {
	background-color:#ddd;
}
/*登录*/
.logo {
	text-align:center;
	padding-top:5.6875em;
}
.loginBox {
	position: relative;
	display:block;
	color:#FFf;
	background:-webkit-linear-gradient(308deg,#40124f 50%, #2f033e 50%);
    background-image:-webkit-gradient(linear, 0 0, 75% 125%, from(#40124f), color-stop(50%, #3c114a), color-stop(50.1%, #490e5c), color-stop(50.2%, #30033f), to(#2f033e));
	margin:0.46em 5% 0 5%;
	padding:1.25em 5% 15px 5%;
	-webkit-border-radius:.4em;
}

.loginBox:before,.loginBox:after{
    content:"";
    width:50%;
    height:0.83em;
    position: absolute;
    z-index:-1;
    -webkit-box-shadow:0 0.625em 0.416em #000;
    box-shadow:0 0.625em 0.416em #000;
    bottom:0.708em;
    left:0.416em;
    -webkit-transform:rotate(-5deg);
    transform:rotate(-5deg);
}
.loginBox:after{
    left:auto;
    right:0.416em;
    -webkit-transform:rotate(5deg);
    transform:rotate(5deg);
}

.loginList {
	padding:.4em 0;
	font-size:1.16em;
}
.loginList label {
	display:inline-block;
	text-align:center;
}
.loginInput{
	background:#260032;
	border:2px solid #190020;
	-webkit-border-radius:.3em;
	padding:0.28em;
}
.loginInput input {
	font-size:1em;
	width:100%;
	height:100%;
	-webkit-border-radius:.3em;
	border: 0px;
	padding: .5em 6px;
}
.Forget {
	padding:.3em;
}
.loginButton {
	margin-left:3.5em;
	font-size:1em;
}
.loginButton span {
	padding:.5em 1em;
	margin-right:.5em;
	font-size:1em;
	text-align:center;
	text-shadow:1px 1px 1px #FFF;
	display:inline-block;
	color:#191919;
	border:none;
	-webkit-border-radius:.3em;
}
.loginButton span.active{
	background-color:#666;
	}
.qqLogin,.users{
	color:#FFF;
	font-size:1.2em;
	margin:1.6em auto;
	width:70%;
	text-align:center;
	padding-bottom:2em;
	padding:.4em 0;
	background:-webkit-linear-gradient(top, #e70485, #c40370);
 	background:-webkit-gradient(linear, left top, left bottom, from(#e70485), to(#c40370));
	border:1px solid #750945;
	-webkit-border-radius:.3em;
}
.users{
	width:90%;
	margin:0 auto;
}
.usersActive{
	background:-webkit-linear-gradient(top, #e70485, #c40370);
 	background:-webkit-gradient(linear, left top, left bottom, from(#e70485), to(#c40370));
	-webkit-box-shadow:3px 3px 15px #000 inset;
	color:#FFF;
}
#verify{padding:0 .5em;}
.gender{
	border-color:#300f40;
	margin-bottom:.8em;
}
.b-grp{
	border-color:#300f40;
}
/*附近的人-照片显示*/
.mainPhoto{
	margin-top:.3em;
}
.mainList {
	width:25%;
	overflow:hidden;
	padding:0.166em;
	float:left;
	position:relative;
}
.mainList img {
	width:100%;
	height:auto;
}
.mainListBox {
	margin:0 .5em;
}
.moreFeed {
	position: relative;
	padding:0.7em 0;
	text-align:center;
	background:#831a77;
	font-size:0.75em;
	color:#FFF;
	margin:0.5em;
	-webkit-border-radius:.3em;
	-webkit-box-shadow:1px 1px 2px #333;
	text-shadow:1px 1px 1px #333;
}
.moreFeed.active {
	background-color:#7c1770;
}
/*附近的人-心情显示*/
.DynamicList {
	margin:.5em .5em 0 .5em;
	padding-bottom:.5em;
	border-bottom:1px dashed #bb8dce;
}
.DynamicInfo{
	padding-bottom:.5em;
}
.DynamicAvatar {
	width:2.5em;
	height:2.5em;
	overflow:hidden;
	float:left;
	border:4px solid #210035;
}
.DynamicAvatar img {
	width:2.5em;
}
.DynamicTrank {
	margin-left:0.3em;
}
.DynamicTrank img {
	width:1.5em;
	vertical-align:middle;
}
.DynamicName {
	display:inline-block;
	font-size:0.916em;
	color:#f3f2f6;
	padding:0.3em 0 0 0.3em;
}
.DynamicName.active {
	background-color:#ddd;
}
.DynamicNav, .DynamicMenu, .myTitleMenu, .myInfo {
	padding:0;
	margin:0;
	list-style:none;
}
.DynamicNav li {
	float:left;
	font-size:0.75em;
	color:#f3f2f6;
	padding:0.21em 0.5em 0 0.35em;
}
.DynamicIco {
	width:1.4375em;
	height:1.4375em;
	font-size:0.666em;
	color:#FFF;
	display:inline-block;
	margin:.1em 3px 0 0;
	background-size:1.4375em;
}
.time {
	background:url(images/time.png);	
}
.place {
	background:url(images/place.png);
}
.DynamicMoodBox{
	padding:0 .5em;
	}
.DynamicMoodTtile{
	padding-bottom:.35em;
	}
.DynamicMoodTime{
	color:#FFF;
	background:#4bb2f1;
	font-size:0.66em;
	padding:.3em .5em;
	-webkit-border-radius:.3em;
	position:relative;
}
.DynamicMoodTime span{
	position:absolute;
	font-family:Arial;
	color:#4bb2f1;
	left:27%;
	bottom:-.5em;
}
.DynamicMoodLine{
	width:0.7em;
	height:100%;
	border-right:1px dashed #fff;
	padding-bottom:0.58em;
	
}
.DynamicMood img {
	width:1.34em;
	height:1.34em;
}
.DynamicMoodText {
	font-size:0.833em;
	margin-left:0.426em;
	background:#fff;
	position:relative;
}
.DynamicMoodText span {
	font-family:Arial;
	color:#fff;
	font-size:1em;
	position:absolute;
	top:0;
	left:-0.28em;
}
.DynamicMoodText .DynamicText {
	line-height:1.3em;
	padding:0.3em;
	color:#38373a;
	text-shadow:1px 1px 1px #FFF;
}
.DynamicMore {
	font-size:1.5em;
	display:block;
	width:1.3em;
	height:1.3em;
	line-height:1.3em;
	text-align:center;
	color:#842d73;
}
.DynamicImg {
	padding:0 0.25em 0.25em 0.25em;
}
.DynamicImg img {
	max-width:100%;
}
.DynamicMenu {
	border-top:1px solid #ececec;
	padding:0.4em 0.5em;
	font-size:1em;
	text-align:right;
}
.DynamicMenu li {
	padding:0.25em 0.35em;
	margin-left:0.4em;
	text-align:1px 1px 1px #FFF;
	-webkit-border-radius:.3em;
	color:#707070;
	float:right;
}
.DynamicMenu .active .love{
	background:url(images/love-act.png) no-repeat;
}
.DynamicMoodText .DynamicMenuIco{
	width:1.5em;
	height:1.5em;
	background-size:1.5em;
	display:block;
	margin-right:.2em;
	position:static;
	}
.love{
	background:url(images/love.png) no-repeat;
}
.love.active{
	background:url(images/love-act.png) no-repeat;
}
li .comment{
	background:url(images/comment.png) no-repeat;
}
.Report{
	background:url(images/Report.png) no-repeat;
}
.delete{
	background:url(images/delete.png) no-repeat;
}
.DynamicMenuLine{
	padding-bottom:1em;
}
.btnBg {
	background:-webkit-linear-gradient(top, #ffffff, #d1cfcf);
	background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d1cfcf));
}
.btnBg.active {
	color:#FFF;
	background:-webkit-linear-gradient(top, #f301bd, #a7168b);
	background:-webkit-gradient(linear, left top, left bottom, from(#f301bd), to(#a7168b));
}
/*我的主页-照片显示*/
.myTitle{padding:0.5em 0 0 0.5em;}
.myTitle-r{margin-left:4.75em;}
.myTitleAvatar {
	width:4.75em;
	height:4.75em;
	overflow:hidden;
}
.myTitleAvatar img {
	width:4.75em;
}
.myTitleMenu {
	font-size:0.75em;
	height:4em;
	margin:0.5em;
	-webkit-border-radius:.3em;
	padding-left:0.3em;
	background:-webkit-linear-gradient(top, #e1e1e1, #d0cfcd);
	background:-webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#d0cfcd));
}
.myTitleMenu li {
	color:#2c2c2c;
	text-align:center;
	display:table;
	height:3.5em;
	margin:0.27em 1% 0 0;
	width:24%;
	-webkit-border-radius:.3em;
	background:-webkit-linear-gradient(top, #fff, #d0cfcd);
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#d0cfcd));
	-webkit-box-shadow:1px 1px 2px #999 inset;
}
.myTitleMenu li.active{
	-webkit-box-shadow:0 0 0;
	color:#FFF;
	background:-webkit-linear-gradient(top, #da29b2, #b11e91);
	background:-webkit-gradient(linear, left top, left bottom, from(#da29b2), to(#b11e91));
}
.myTitleMenu li span
{
	display:table-cell;
	vertical-align: middle;
}
.myTitleMenu li:last-child {
	border:0;
}
.myInfo {
	font-size:1em;
	margin:0.5em;
	padding:0.45em;
	color:#FFF;
	background:rgba(250,250,250,0.4);
	word-break: break-all;
	word-wrap: break-word;
}
.myPhoto {
	padding:0 15px;
}
.myPhotoBox {
	width:25%;
	padding:0.166em;
}
.myPhotoBox img{
	width:100%;
	height:auto;
}
.myPhotoClose{
	display:block;
	position:absolute;;
	width:1em;
	height:1em;
	background:url(images/close.png) no-repeat;
	background-size:1em;
	right:0;
	bottom:0;
}
.insertLi{display:none;}
.showMore .insertLi{display:block;}
/*编辑资料*/
.editinfoList{
	position:relative;
	border-bottom:1px solid #DDD;
	overflow:hidden;
}
.editinfoList select{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	opacity:0;
}
.editinfoList select[multiple]{
	padding:2.2em 2.3em 1.2em .4em;
}

.editinfoList input{
	text-align:right;
}

/*他人主页-心情详情*/
.commentList {
	margin:2px 0.5em;
	-webkit-border-radius:.3em;
	padding:0.29em;
	border-bottom:1px solid #DDD;
	background:-webkit-linear-gradient(top,#f8f8f8,#e4e4e4);
	background:-webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#e4e4e4));
	-webkit-box-shadow:2px 2px 2px #333;
}
.commentListMl{
	margin-left:3.5em;
}
	
.commentListAvatar {
	width:2.5em;
	height:2.5em;
	margin-right:.5em;
	padding:0.042em;
	border: 1px solid #d2d0d1;
	position:relative;
}
.newAmount{
	position: absolute;
	z-index: 10;
	top: -.5em;
	right: -.5em;
}
.amount{
	width:1.2em;
	height:1.2em;
	background:-webkit-linear-gradient(top,#f04343,#eb0000);
	background:-webkit-gradient(linear,left top,left bottom,from(#f04343),to(#eb0000));
	-webkit-border-radius:.6em;
	border:3px solid #fff;
	position: absolute;
	z-index: 10;
	top: -.5em;
	right: -.5em;
}
.commentListAvatar img {
	width:2.5em;
	height:2.5em;
}
.commentListText {
	font-size: 0.83em;
	color:#202020;
}
.commentListText img,.chatText img{
	width:2.15em;
	height:2.15em;
}
.enter{
	margin:.3em .5em .5em .5em;
	background:#330944;
	-webkit-border-radius:.5em;
	padding:0.29em;
	text-shadow:1px 1px 1px #FFF;
	position:relative;;
	}
.enterMood{
	width:2.33em;
	height:2.33em;
	margin-right:0.3em;
}
.enterMood img{
	width:2.33em;
}
.enterInput{
	-webkit-border-radius:.5em 0 0 .5em ;
	border-left:1px solid #FFF;
	padding-left:0.6em;
}
.enterInput input{
	padding:.5em 0;
	font-size:0.83em;
}
.enterButton {
	padding:0.5em 0.6em;
	font-size:0.83em;
	-webkit-border-radius:0 .5em .5em 0;
	background:-webkit-linear-gradient(top, #e0e0e0, #bfbfbf);
	background:-webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#bfbfbf));
	border-left:1px solid #b7b7b7;
	box-shadow:0 0 2px #FFF inset;
}

/*秀心情*/
.showMoodPlus {
	position: relative;
	margin:0 .5em;
	height:8.7em;
	background:url(images/plus.png) no-repeat center;
	background-size:20em;
}
.showMoodPlus img{
	width:6em;
    height:6em;
    position:absolute;
    left:50%;
    top:50%;
    margin:-2.2em 0 0 -3em;
}
.showMoodList {
	background:-webkit-linear-gradient(top, rgba(250,250,250,0.6), rgba(216,216,216,0.6));
	background:-webkit-gradient(linear, left top, left bottom, from(rgba(250,250,250,.6)), to(rgba(216,216,216,.6)));
	-webkit-border-radius:.5em;
	padding:0.416em 0.5em;
	margin:0.5em;
}
.showMoodImg{
	width:2.83em;
	hegiht:2.83em;
	margin:0 0.375em;
	position:relative;
}
.showMoodImg img{
	width:2.83em;
}
.MoodSelect{
	width:1.91em;
	height:1.54em;
	background:url(images/yes.png) no-repeat;
	background-size:1.91em;
	position:absolute;
	left:1.3em;
	bottom:-0.29em;
}
.showMoodTextarea{
	position:relative;
	min-height:10em;
	margin:.5em;
	font-size:0.83em;
	background:#FFF;
	-webkit-border-radius:.2em;
	-webkit-box-shadow:.2em .3em .5em #b1b1b1 inset; 
}

/*信息中心*/
.infoList{
	padding:1.2em 1.3em 1.2em .4em;
	border-top:1px solid #FFF;
	border-bottom:1px solid #cac6bc;
}
.infoList:first-child,.rankList:first-child{
	border-top:0;
}
.infoList:last-child,.rankList:last-child{
	border-bottom:0;
}
.infoList.active{background:#efefef;}

.chatList{
	padding:0.35em 0;
	}
.chatListName{
	font-size:1.1em;
}
.listBg{
	margin:.5em;
	background:#f4f0e7;
	-webkit-border-radius:.4em;
}
/*聊天*/
.chatContent{
	padding:1.33em 0.5em 0.5em 0.5em;
}
.chatAvatar{
	width:2.5em;
	height:2.5em;
}
.chatAvatar img{
	width:2.5em;
}
.chatTextBox{
	margin:-0.8em 2em 0 .75em;
	position:relative;
	}
.chatContent-r .chatTextBox{
	margin:-0.8em .75em 0 2em ;
}
.chatContent-r .chatTextBox span{
	top:.7em;
	right:-.5em;
	left:auto;
}
.chatContent-r .chatText{
	background: #ddddde	
}
.chatContent-r .chatTime{
	text-align:left;
}
.chatContent-r .chatTextBox span{
	color:#ddddde;
}
.chatTextBox span{
	font-family:Arial;
	font-size:1.5em;
	color:#efe4cb;
	position:absolute;
	top:.7em;
	left:-.5em;
	}
.chatTime{
	text-align:right;
	font-size:0.66em;
	color:#e2dae3;
}
.chatText{
	font-size:0.83em;
	padding:0.75em;
	-webkit-border-radius:.4em;
	-webkit-box-shadow:0 1px 1px #fff inset;
	color:#242326;
	text-shadow:1px 1px 1px #FFF;
	background: #efe4cb	
}
.chatMood{
	width:18.7em;
	position:absolute;
	display: none;
	z-index:3;
	padding:0.7em 0 0 0.7em;
	height:8.333em;
	left:0;
	bottom:3.5em;
	-webkit-border-radius:.5em;
	-webkit-box-shadow:3px 3px 3px #333;
	background:-webkit-linear-gradient(top,#fefefe,#f2f2f2);
	background:-webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f2f2f2));
}
.chatMood span{
	color:#eee;
	font-family:Arial;
	font-size:1.5em;
	left:.7em;
	bottom:-.5em;
	position:absolute;
	z-index: -1;
}
.chatMood ul{
	background:url(images/mood.png) no-repeat;
	background-size:17.5em;
}
.chatMood li{
	list-style:none;
	width:1.625em;
	height:1.625em;
	float:left;
	margin:0 0.37em 0.29em 0;
}

/*收到的评论*/
.chatDelete{
	width:2.9em;
	height:1.1em;
	color:#FFF;
	text-align:center;
	-webkit-border-radius:.2em;
	float:right;
	margin-right:-1.5em;
	background:-webkit-linear-gradient(top,#e700b1,#ab1089);
	background:-webkit-gradient(linear, left top, left bottom, from(#e700b1), to(#ab1089));

}
/*人气达人*/
.rankBox{
	padding:.5em 0;
}
.topRank{
	color:#7f6a3b;
	font-family:Arial;
	font-size:2.7em;
	padding:0 .3em;
}
.rankAddress{
	padding:.5em;
	color:#FFF;
	font-size:0.91em;
	line-height:1.5em;
}
.rankAddress span{
	color:#313131;
	padding:.1em .2em;
	-webkit-border-radius:.2em;
	background:-webkit-linear-gradient(top,#eaeaea,#dfdfdf);
	background:-webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#dfdfdf));
}
.rankAddress p{
	font-size:0.83em;
}
.rankList{
	border-top:1px slid #fff;
	border-bottom:1px solid #cac6bc;
}
.Ranking{
	width:1.2em;
	height:1.2em;
	background-size:1.2em;
	margin-right:.5em;
}
.top1{
	background:url(images/top1.png) no-repeat;
}
.top2{
	background:url(images/top2.png) no-repeat;
}
.top3{
	background:url(images/top3.png) no-repeat;
}
/*修改密码*/
.passwordBox{
	color:#FFF;
	padding:1em 1em;
}
/*头部*/
#header{
	z-index:2;
	background:-webkit-linear-gradient(top,#bb068d,#9b137b);
	background:-webkit-gradient(linear, left top, left bottom, from(#bb068d), to(#9b137b));
	color:#ffffff;
	border-bottom:1px solid #a42a88;
}
.kxjy-btn{
	padding: 0 0.8em;
	min-height: 2.2em;
	background:-webkit-linear-gradient(top,#da19b0,#b21b95);
	background:-webkit-gradient(linear, left top, left bottom, from(#da19b0), to(#b21b95));
	-webkit-border-radius:.3em;
	-webkit-box-shadow:1px 1px 1px #660151;
}
.kxjy-btn.active{
	-webkit-box-shadow:1px 1px 1px #660151 inset;
}
.header-ico{
	display:block;
	margin:0 .3em;
	width:1.5em;
	height:1.5em;
	background-size:1.5em;
}
.hd-search{
	background:url(images/search.png) no-repeat;
}
.hd-photo{
	background:url(images/photo.png) no-repeat;
}
.hd-list{
	background:url(images/list.png) no-repeat;
}
/*底部*/
.footer{
	-webkit-box-shadow:1px 1px 1px #404541 inset;
	border-top:1px solid #000;
	height: 3.5em;
	padding:0 0.3em 0.3em 0.3em;
}
.footer .ub-ver{
	padding-top:.3em;
}




#sw-wrapper {
	position:absolute; z-index:1000;
	left:0;
	width:100%;
	font-family:helvetica, sans-serif;
	background:rgba(0,0,0,0.7);
	text-align:left;
}

#sw-header {
	position:relative;
	width:100%; height:1.792em;
	border-top:1px solid #000; border-bottom:1px solid #000;
	background:url(images/sw-header.png) 0 0 repeat-x;
	opacity: 0.9;

}
#sw-cancel, #sw-done {
	position:absolute;
	top:0.292em;
	height:1em;
	line-height:1em;
	padding:0 0.208em; margin:0;
	border-width:0.208em;
	font-size:1em;
	font-weight:bold;
	text-shadow:rgba(0,0,0,0.8) 0 -1px 0;
	color:#fff;
}
#sw-cancel {
	top:0.2em;
	margin-left:.2em;
	float:left;
	padding-bottom:1em;
	-webkit-border-image:url(images/sw-button-cancel.png) 5;
}
#sw-done {
	right:.2em;
	top:0.2em;
	margin-right:.2em;
	float:right;
	padding-bottom:1em;
	-webkit-border-image:url(images/sw-button-done.png) 5;
}
.sw-pressed { opacity:0.4; }
#sw-slots-wrapper {
	position:relative; z-index:999;
	display:block;
	height:8.958em;
	padding:0.458em;
	overflow:hidden;
}
#sw-slots {
	display:table;
	width:100%;
	background:#fcfcfc;
}

#sw-slots div {
	width:50%;
	display:table-cell;
	height:100%;
	padding-top:3.583em;
	border-left:2px solid #0d0e0f;
	background-color:#fcfcfc;
	background-image: url(images/sw-slot-border.png);
	background-position: 0 0, 100% 0;
	background-repeat: repeat-y;
}

#sw-slots div:first-child { border:0; }

#sw-slots ul {
	padding:0 0 3.542em 0; margin:0;
	list-style:none;
}
#sw-slots .sw-right { text-align:right; }

#sw-slots li {
	padding:0 0.333em;
	height:1.833em;
	overflow:hidden;
	font:bold 1/1.833em Helvetica,sans-serif;
}

#sw-frame {
	position:absolute; z-index:1000;
	left:0; right:0; bottom:0;
	height:8.958em;
	border-width:0.667em;
	-webkit-border-image:url(images/sw-alpha.png) 16;
}