
.im{
	background-image: url('img/icon.png');
}
.pic
{
	background-image:url(img/talk.png); 
}
.im1{
	background-image: url('img/img1.png');
}
.im2{
	background-image: url('img/img2.png');
}
.im3{
	background-image: url('img/img3.png');
}
.im4{
	background-image: url('img/img4.png');
}
.im5{
	background-image: url('img/img5.png');
}
.im6{
	background-image: url('img/img6.png');
}
.im7{
	background-image: url('img/img7.png');
}
.im8{
	background-image: url('img/img8.png');
}
.im9{
	background-image: url('img/img9.png');
}
.im10{
	background-image: url('img/img10.png');
}
.im11{
	background-image: url('img/img11.png');
}
.im12{
	background-image: url('img/img12.png');
}
.im13{
	background-image: url('img/img13.png');
}